body{
  color: #36393e;
  font-family: Courier;
}
p{
  font-size: 16px;
  line-height: 30px;
}
h1, h2, h3{
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h2{
  font-size: 36px;
}

h4{
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;

}

/***GRID***/

.full-width{
  max-width: 100%;
  height: auto;
  padding: 75px 100px 75px 100px;
  overflow: auto;
}

.half-width{
  width: 50%;
  height: auto;
  float: left;
}

.one-third{
  width: 30%;
  height: auto;
  float: left;
}

.two-third{
  width: 66%;
  height: auto;
  float: left;
}

/***HEADER***/
header{
  height: 100vh;
  max-width: 100%;
  /*background-image: url('../img/background.png');
  background-size: cover;*/
  background-color: #f5f5f5;
}

header h1{
  color: white;
  text-align: left;
  font-size: 48px;

}

header h3{
  color: white;
  font-family: 'Courier', serif;
  font-weight: normal;
  text-align: left;
  clear: both;
}

nav{
  float: right;
  color: white;
  text-align: center;
  margin: -35px -45px 0px 0px;
  word-spacing: 60px;
  position: fixed;
  right: 100px;

}

header nav a{
  text-decoration: none;
  color: white;

}
.vertical{
  padding-top: 25vh;
}
/***WORK SECTION***/
#work .full-width{
  background-color: #f5f5f5;
}
#work h2{
  text-align: left;
  margin-left: 10px;
}

#work span{
  float: right;
  clear: both;
}

.square-thumbnail {
  position: relative;
  width: 275px;
  height: 275px;
  overflow: hidden;
  margin: 10px;
  float: left;
}

.square-thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.rect-thumbnail {
  position: relative;
  width: 400px;
  height: 280px;
  overflow: hidden;
  margin: 10px;
  float: left;
}
.rect-thumbnail img {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);

}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

/***ABOUT SECTION***/
#about .full-width{
  height: 100vh;
  width: auto;
  background-color: #f5f5f5;
}

#about .two-third{
  float: right;
}
#about .one-third{
  padding-right: 3%;
  text-align: center;
}
#about .skills{
  float: left;
  margin-top: 100px;
}

#about h4{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: #36393e;
}

#about h2{
  color: #c19707;
  margin-left: -110px;
}
#about h3{
  font-size: 24px;
  text-align: right;
  float: right;
  padding: 50px 10px 0 0;
}

#about span{
  float: right;
  margin-right: 10px;
  margin-top: 50px;
  clear: both;
}
#about p{
  max-width: 415px;
  clear: both;
}

#about .left-pad{
  padding-left: 120px;
}

/***CONTACT SECTION***/
#contact .full-width{
  height: 100vh;
  width: auto;
  background-color: #c19707;
}

#contact p{
  padding-right: 50px;
}
#contact h2{
  color: white;
}

#contact span{
  color: white;
}


form{
  margin-top: 25px;
}
form input[type=text]{
  font-family: 'Courier', serif;
  background-color: #c19707;
  width: 100%;
  padding: 25px 10px 25px 10px;
  border: 1px solid white;
  outline: none;
  float: left;
}

form input[type=text]:focus{
  background-color: #d7bc5e;
  border: 1px solid white;
}


form input[type=submit]{
  font-family: 'Courier', serif;
  width: 50%;
  margin-top: 30px;
  background-color: #c19707;
  padding: 25px 10px 25px 10px;
  border: 1px solid white;
  border-radius: 0;
  outline: none;
  float: left;
}

form input[type=submit]:focus{
  background-color: #d7bc5e;
  border: 1px solid white;
}


form input[type=text].message{
  height: 30vh;
}

section div.form{
  float: right;
  text-align: right;
}
